.header {
  max-width: 1440px; /* Keeps the header from stretching too wide */
  width: 100%;

  margin: 0 auto; /* Centers the whole header on large screens */
  padding: 24px 80px;

  box-sizing: border-box; /* Keeps padding inside the 1440px width */

  display: flex; /* Creates left / center / right layout */
  align-items: center;

  background-color: #fff;

  font-family: "schibsted-grotesk", sans-serif;
  font-size: 14px;
}

.header__side {
  flex: 1; /* Makes left and right sides equal widths */
  display: flex;
  align-items: center;
}

.header__side_right {
  justify-content: flex-end; /* Pushes the button to the right edge */
}

.header__logo {
  max-width: 200px;
  cursor: pointer;
}

.header__links {
  display: flex;
  gap: 32px;
}

.header__link {
  text-decoration: none;
  color: #6b6462;

  transition:
    transform 0.3s ease-in-out,
    color 0.3s ease-in-out; /* Smooths hover changes */
}

.header__link:hover {
  color: black;
  font-weight: 500;
  transform: scale(1.05);
}

.header__menu-button {
  background-color: #f6d5dc;

  cursor: pointer;

  border: 1px solid #6b6462;
  border-radius: 25px;

  padding: 14px 28px; /* Lets the button size itself around the text */

  font-family: inherit;
  font-size: 14px;
  font-weight: 600;

  transition: transform 0.3s ease-in-out;
}

.header__menu-button:hover {
  transform: scale(1.05);
}
